<ion-view title="Contactos" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="contactos-list5">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar contactos">
            </label>
            <ion-item class="item-avatar item-icon-right" id="contactos-list-item10">
                <img src="img/Zfe0bEHSF2l7TyNKgpib_person-flat.png">
                <h2>Jgamezma</h2>
                <i class="icon ion-android-remove"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" id="contactos-list-item11">
                <img src="img/O21g10SkTvaKPYfBVYMR_Hopstarter-Halloween-Avatars-Mask-3.ico">
                <h2>Pedro</h2>
                <i class="icon ion-android-remove"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" id="contactos-list-item12">
                <img src="img/Kmm8cxjATxBp4G0gBu5a_ninja-simple-512.png">
                <h2>Pablo</h2>
                <i class="icon ion-android-add"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>