<ion-view title="Canales" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list id="canales-list3">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar canales">
            </label>
            <ion-item class="item-icon-right" id="canales-list-item4" ui-sref="tabsController.programsRadioUno">Radio Uno
                <i class="icon ion-android-favorite-outline"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="canales-list-item5">Caracol Radio
                <i class="icon ion-android-favorite"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="canales-list-item6">La fm
                <i class="icon ion-android-favorite-outline"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>