<ion-view title="Favoritos" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="favoritos-list4">
            <ion-item class="item-icon-right" id="favoritos-list-item7">Radio Uno
                <i class="icon ion-android-favorite"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="favoritos-list-item9">La fm
                <i class="icon ion-android-favorite"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>