<ion-view title="Programs - Radio Uno" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="programsRadioUno-form4" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar programas">
            </label>
        </form>
        <iframe src="http://tunein.com/embed/player/s16182/" style="width:100%;height:100px;" scrolling="no" frameborder="no"></iframe>
        <ion-list id="programsRadioUno-list7">
            <ion-item class="item-icon-right" id="programsRadioUno-list-item19">Todos para todos
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="programsRadioUno-list-item20" ui-sref="tabsController.programNosFuimos">Nos fuimos de puente
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="programsRadioUno-list-item21">Que hambre
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>